
<div class="container product-page">
    <div class="row">
        <div class="block block-breadcrumbs">
            <ul>
                <li class="home">
                    <a href="#"><i class="fa fa-home"></i></a>
                    <span></span>
                </li>
                <li><a href="#"> Prescription Services</a><span></span></li>
                <li> Refill Prescription</li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <!-- Product tab -->
        <div class="block block-tabs tab-left">
            <div class="block-head">
                <ul class="nav-tab">

                    <li class="active"><a data-toggle="tab" href="#tab-1">Messaging & Alerts</a></li>
                    <li><a data-toggle="tab" href="#tab-2">Manage Family Members</a></li>
                    <li><a data-toggle="tab" href="#tab-3">Automatic  Refill</a></li>
                </ul>
            </div>
            <div class="block-inner">
                <div class="tab-container">
                    <div id="tab-1" class="tab-panel active">
                        <h3>Messaging And Alerts</h3>
                        <strong><hr style="border-top: 2px solid #000;"></strong>
                        <p><span style="color:#000;font-size:24px;">Pharmacy Text Alerts</span> &nbsp; (for RXOutlet Pharmacy® alerts and other healthcare information)</p>
                        <p>Receive real-time prescription and health alerts. This can include refill reminders, alerts that a prescription is ready to pick up and other useful healthcare messages. Read our FAQs for more information on receiving text alerts.</p>
                        <hr style="border-bottom: 1px dotted #000;">
                        <p><span style="color:#000;font-size:24px;">Refill Reminder Emails</span> &nbsp; (for RXOutlet Pharmacy prescriptions)</p>
                        <p>Receive email reminders when prescriptions are eligible for refill.</p>
                        <div class="col-sm-12">
                            <select class="form-control" name="Province">

                                <option value="">OFF (All Prescriptions)</option>
                                <option value="">OFF (All Prescriptions)</option>
                                <option value="">OFF (All Prescriptions)</option>
                                <option value="">OFF (All Prescriptions)</option>
                                <option value="">OFF (All Prescriptions)</option>



                            </select>
                        </div>

                        <br>
                        <br>
                        <p><span style="color:#000;font-size:24px;">New Prescription Information Emails </span> &nbsp; (for RXOutlet Pharmacy prescriptions)</p>
                        <hr style="border-bottom: 1px dotted #000;">
                        <p>Receive emails with important medication information whenever you or those you care for fill a new prescription.</p>
                        <p>All new prescription information emails are sent to the email address associated with your CVS.com account: ----</p>
                        <p class="text-center">
                            <button class="button text-center"> Continue</button>
                        </p>




                    </div>


                    <div id="tab-2" class="tab-panel">
                        <div class="container">
                            <h3>Manage Family Members</h3>
                            <strong><hr style="border-top: 2px solid #000;"></strong>

                            <h4>I manage prescriptions for other people: </h4>
                            <strong><hr style="border-top: 1px solid #000; margin-top:2px; padding-right:10%;"></strong>
                            <strong>To manage another person’s prescriptions, you will need:</strong>
                            <ul style="list-style:disc;">
                                <li>That person’s prescription information, including a prescription number and store number.</li>
                                <li>The date of birth for minors under the age of 18-years-old, and their prescription information.</li>
                            </ul>
                            <strong>To manage another adult’s prescriptions, the patient will need to:</strong>
                            <ul style="list-style:disc;">
                                <li>Create or have his/her own CVS.com account with prescription access.</li>
                                <li>Approve your request to manage their prescriptions.</li>
                            </ul>
                            <strong><hr style="border-top: 2px solid #000;"></strong>
                            <h4>Currently, you’re not managing any prescriptions for others.</h4>
                            <p>
                                @*<a class="button text-center" href="">*@@Html.ActionLink("Add a Person", "Registration", "Account", new
                                                                     {
                                                                         @class = "button text-center"
                                                                     })
                            </p>
                          

                               
                     


                        </div>
                    </div>
                    <div id="tab-3" class="tab-panel">
                        <div class="container">
                            <h3 style="text-align:center">Coming soon....</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product tab -->
            <!-- Related Products -->
            <!-- ./Related Products -->
            <!-- upsell Products -->
            <!-- ./upsell Products -->
        </div>
    </div>



    <script type='text/javascript'>
$(function(){
$('.input-group.date').datepicker({
    calendarWeeks: true,
    todayHighlight: true,
    autoclose: true
});
});



    </script>
    <script type='text/javascript'>
$(document).ready(function() {
  var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
  var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());

  $('#datepicker1').datepicker({
format: "mm/dd/yyyy",
todayHighlight: true,
startDate: today,
endDate: end,
autoclose: true
  });
  $('#datepicker2').datepicker({
format: "mm/dd/yyyy",
todayHighlight: true,
startDate: today,
endDate: end,
autoclose: true
  });

  $('#datepicker1,#datepicker2').datepicker('setDate', today);
});
    </script>
