<div class="block block-tabs tab-left">
    <div class="block-head">
        <ul class="nav-tab">
            <li class="active"><a data-toggle="tab" href="#tab-1">Login</a></li>
            <li><a data-toggle="tab" href="#tab-2">Personal Details</a></li>

        </ul>
    </div>
    <div class="block-inner">
        <div class="tab-container">
            <div id="tab-1" class="tab-panel active">

                <div class="row">
                    <div class="col-sm-6">
                        <form class="form-horizontal" role="form">
                            <div class="box-border">
                                <div>
                                    <div class="form-group">
                                        <label class="col-sm-4"> Name </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4">Email address</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Phone Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label class="col-sm-4">Confirm Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Security Question</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="Province">

                                                <option value="AK">What city did i grow up in?</option>
                                                <option value="AZ">Where did i born?</option>
                                                <option value="AR">Where is your childhood Friend name</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Security Answer</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group text-center" style="margin-top:2%" ;="">
                                    <button class="button"> <a href="user.html" style="color:#ffffff"> Submit </a> </button>
                                </div>

                            </div>
                        </form>


                    </div>




                </div>

            </div>
            <div id="tab-2" class="tab-panel">
                <div class="row">


                    Registration Form 


                </div>
            </div>

        </div>
    </div>
</div>
			

