
  
    <div class="container product-page">
        <div class="row">
            <div class="block block-breadcrumbs">
                <ul>
                    <li class="home">
                        <a href="#"><i class="fa fa-home"></i></a>
                        <span></span>
                    </li>
                    <li><a href="#"> Prescription Services</a><span></span></li>
                    <li> Refill Prescription</li>
                </ul>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <!-- Product tab -->
            <div class="block block-tabs tab-left">
                <div class="block-head">
                    <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Fill New Prescription</a></li>
                        <li><a data-toggle="tab" href="#tab-2">Refill Your Prescription</a></li>
                        <li><a data-toggle="tab" href="#tab-3">Transfer Your Prescription</a></li>
                    </ul>
                </div>
                <div class="block-inner">
                    <div class="tab-container">
                        <div id="tab-1" class="tab-panel active">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="post-item">
                                        <article class="entry">
                                            <div class="entry-ci">
                                                <div class="entry-thumb image-hover2">
                                                    <a href="#">
                                                        <img src="/images/new-rx.jpg" alt="Blog" class="img-thumbnail">
                                                    </a>
                                                </div>
                                                <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>


                                                <div class="entry-excerpt">
                                                    Complete your purchase online and have your prescriber fax your prescription to 1-000-000-0000, send your prescription via ePrescription, or call us at 1-800-748-7001 with your prescription information.
                                                </div>
                                                <br />
                                                <div class="entry-more text-center">
                                                    <a class="button" href="#"> Search For Products Now  </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                </div>


                                <div class="col-md-6">
                                    <div class="block block-widget">
                                        <div class="block-head">
                                            <h5 class="widget-title">How it Works</h5>
                                        </div>
                                        <div class="block-inner">
                                            <ul class="recent-comment-list">
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="entry-more text-center">
                                            <a class="button" href="#"> Search For Products Now  </a>
                                        </div>
                                        <br />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div id="tab-2" class="tab-panel">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="post-item">
                                        <article class="entry">
                                            <div class="entry-ci">
                                                <div class="entry-thumb image-hover2">
                                                    <a href="#">
                                                        <img src="/images/refill-rx.jpg" alt="Blog" class="img-thumbnail">
                                                    </a>
                                                </div>
                                                <h3 class="entry-title"><a href="#">Refill Your Prescription</a></h3>


                                                <div class="entry-excerpt">
                                                    Complete your purchase online and have your prescriber fax your prescription to 1-000-000-0000, send your prescription via ePrescription, or call us at 1-800-748-7001 with your prescription information.
                                                </div>
                                                <br />
                                                <div class="entry-more text-center">
                                                    <a class="button" href="#"> Search For Products Now  </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                </div>


                                <div class="col-md-6">
                                    <div class="block block-widget">
                                        <div class="block-head">
                                            <h5 class="widget-title">How it Works</h5>
                                        </div>
                                        <div class="block-inner">
                                            <ul class="recent-comment-list">
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>

                                        <div class="entry-more text-center">
                                            <a class="button" href="#"> Search For Products Now  </a>
                                        </div>
                                        <br />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="tab-3" class="tab-panel">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="post-item">
                                        <article class="entry">
                                            <div class="entry-ci">
                                                <div class="entry-thumb image-hover2">
                                                    <a href="#">
                                                        <img src="/images/transfer-rx.jpg" alt="Blog" class="img-thumbnail">
                                                    </a>
                                                </div>
                                                <h3 class="entry-title"><a href=""> Transfer Your Prescription</a></h3>


                                                <div class="entry-excerpt">
                                                    Complete your purchase online and have your prescriber fax your prescription to 1-000-000-0000, send your prescription via ePrescription, or call us at 1-800-748-7001 with your prescription information.
                                                </div>
                                                <br />
                                                <div class="entry-more text-center">
                                                    <a class="button" href=""> Search For Products Now  </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                </div>


                                <div class="col-md-6">
                                    <div class="block block-widget">
                                        <div class="block-head">
                                            <h5 class="widget-title">How it Works</h5>
                                        </div>
                                        <div class="block-inner">
                                            <ul class="recent-comment-list">
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                                <li>
                                                    <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                                    <div class="comment">
                                                        "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>

                                        <div class="entry-more text-center">
                                            <a class="button" href="#"> Search For Products Now  </a>
                                        </div>
                                        <br />

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product tab -->
            <!-- Related Products -->
            <div class="block block-products-owl">
                <div class="block-head">
                    <div class="block-title">
                        <div class="block-title-text text-lg">Related Products</div>
                    </div>
                </div>
                <div class="block-inner">
                    <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>


                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ./Related Products -->
            <!-- upsell Products -->
            <div class="block block-products-owl">
                <div class="block-head">
                    <div class="block-title">
                        <div class="block-title-text text-lg">Upsell Products</div>
                    </div>
                </div>
                <div class="block-inner">
                    <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>


                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>


                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                        <a class="product-img" href="#"><img src="/images/img2.jpg" alt=""></a>
                                        <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                    </div>
                                </div>
                                <div class="product-right">
                                    <div class="product-name">
                                        <a href="#">Diabetes Supplements</a>
                                    </div>



                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ./upsell Products -->
        </div>
    </div>
  