<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RxOutlet.DataAccess.Properties.Settings.Hangouts_devConnectionString"
            connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts_dev;Persist Security Info=True;User ID=Ankur;Password=ankur@3646"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.RxOutletConnectionString"
            connectionString="Data Source=DESKTOP-19RQ153,1433;Initial Catalog=RxOutlet;Persist Security Info=True;User ID=guest;Password=guest"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.ElixirConnectionString"
            connectionString="Data Source=DESKTOP-DDIP9VH\SQLEXPRESS;Initial Catalog=Elixir;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.RxOutletConnectionString1"
            connectionString="Data Source=DESKTOP-DDIP9VH\SQLEXPRESS;Initial Catalog=RxOutlet;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.ELIXIRConnectionString1"
            connectionString="Data Source=DESKTOP-DDIP9VH\SQLEXPRESS;Initial Catalog=ELIXIR;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.RxOutletConnectionString2"
            connectionString="Data Source=108.58.151.10;Initial Catalog=RxOutlet;Persist Security Info=True;User ID=Ankur"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.RxOutletConnectionString3"
            connectionString="Data Source=108.58.151.10;Initial Catalog=RxOutlet;Persist Security Info=True;User ID=rxadmin;Password=rxadmin"
            providerName="System.Data.SqlClient" />
        <add name="RxOutlet.DataAccess.Properties.Settings.RxOutletConnectionString4"
            connectionString="Data Source=108.58.151.10;Initial Catalog=RxOutlet;Persist Security Info=True;User ID=rxadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!--<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Hangouts.DataAccess.Properties.Settings.HangoutsConnectionString"
        connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts;Persist Security Info=True;User ID=ankur;Password=Ankur@4636"
        providerName="System.Data.SqlClient" />
    <add name="Hangouts.DataAccess.Properties.Settings.Hangouts_devConnectionString"
        connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts_dev;Persist Security Info=True;User ID=ankur;Password=Ankur@3646"
        providerName="System.Data.SqlClient" />
    <add name="Hangouts.DataAccess.Properties.Settings.HangoutsConnectionString1"
        connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts;Persist Security Info=True;User ID=ankur;Password=Ankur@3646"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>-->