
@{
    ViewBag.Title = "AboutUS";
}

<h2>AboutUS</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" />

    <title> RX USA OUTLET </title>
    <style>
                .products .product-right {
                    position: static;
                }

                .products .product-container .inner {
                    padding-bottom: 5px;
                }

                .products .product-container {
                    padding-bottom: 5px;
                }
                /* .block-vertical-menu .vertical-head .vertical-title {
            font-size: 17px;
        } */
                .product-name a {
                    font-size: 18px;
                }
                /*.block-head {
        background:#5a88ca !important;
        color:#ffffff;
        }*/
                .title:after {
                    content: '';
                    height: 5px;
                    border: 1px solid #eaeaea;
                    width: auto;
                    min-width: 100%;
                    display: inline-block;
                    border-radius: 2px;
                }

                .title .text {
                    position: absolute;
                    height: 30px;
                    background: #fff;
                    line-height: 35px;
                    font-weight: bold;
                    padding-right: 30px;
                }

                #fw-container {
                    width: 100% !important;
                }

                form.form-search:before {
                    display: block;
                    width: 14px;
                    height: 14px;
                    content: "\e003";
                    font-family: 'Glyphicons Halflings';
                    background-position: -48px 0;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    opacity: .5;
                    z-index: 1000;
                }

                form.form-search {
                    position: relative;
                }

                .vira-card .vira-card-header {
                    margin-bottom: 45px;
                }

                    .vira-card .vira-card-header .card-icon {
                        border: 1px solid #00dce8;
                        border-radius: 100%;
                        display: inline-block;
                        height: 120px;
                        width: 120px;
                        line-height: 120px;
                        position: relative;
                    }

                        .vira-card .vira-card-header .card-icon:after {
                            transition: all 0.3s ease-in-out;
                        }

                        .vira-card .vira-card-header .card-icon:after {
                            content: '';
                            height: 100px;
                            width: 100px;
                            background-color: #00dce8;
                            border-radius: 100%;
                            position: absolute;
                            top: 9px;
                            left: 9px;
                        }

                        .vira-card .vira-card-header .card-icon .fa {
                            margin-top: 45px;
                            font-size: 30px;
                        }

                        .vira-card .vira-card-header .card-icon span {
                            color: #fff;
                            font-size: 45px;
                            position: relative;
                            z-index: 1;
                        }

                .vira-card:hover .vira-card-header .card-icon:after {
                    height: 120px;
                    width: 120px;
                    top: -1px;
                    left: -1px;
                }
    </style>

</head>
<body>
    <!-- header -->
    <header id="header">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <ul class="top-bar-link top-bar-link-left">
                        <li><i class="fa fa-phone"></i> Call us: 099 88 77 66 55</li>
                        <li><i class="fa fa-exchange"></i> 30 Days Exchange Policy</li>
                    </ul>
                    <ul class="top-bar-link top-bar-link-right dot">
                        <li><a href="login.html">My Account</a></li>
                        <li><a href="wishlist.html">My Wishlist</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="login.html">Login</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Top bar -->
        <div class="container">
            <!-- box header -->
            <div class="row">
                <div class="box-header">
                    <div class="col-sm-12 col-md-12 col-lg-3"></div>
                    <div class="block-wrap-search col-sm-6 col-md-6 col-lg-5">
                        <div class="advanced-search box-radius">
                            <form class="form-inline">
                                <div class="form-group search-category">
                                    <select id="category-select" class="search-category-select">
                                        <option value="1">All Categories</option>
                                        <option value="2"> Category 1</option>
                                        <option value="3">category 2</option>
                                    </select>
                                </div>
                                <div class="form-group search-input">
                                    <input type="text" placeholder="What are you looking for?">
                                </div>
                                <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="wrap-block-cl col-sm-3 col-md-3 col-lg-2">

                    </div>
                    <div class="block-wrap-cart col-sm-3 col-md-3 col-lg-2">
                        <div class="iner-block-cart box-radius">
                            <a href="cart.html">
                                <span class="total">$459.00</span>
                            </a>
                        </div>
                        <div class="block-mini-cart">
                            <div class="mini-cart-content">
                                <h5 class="mini-cart-head">2 Items in my cart</h5>
                                <div class="mini-cart-list">
                                    <ul>
                                        <li class="product-info">
                                            <div class="p-left">
                                                <a href="#" class="remove_link"></a>
                                                <a href="#">
                                                    <img class="img-responsive" src="images/p1.jpg" alt="Product">
                                                </a>
                                            </div>
                                            <div class="p-right">
                                                <p class="p-name">Donec Ac Tempus</p>
                                                <p class="product-price">$139.98</p>
                                                <p>Qty: 1</p>
                                            </div>
                                        </li>
                                        <li class="product-info">
                                            <div class="p-left">
                                                <a href="#" class="remove_link"></a>
                                                <a href="#">
                                                    <img class="img-responsive" src="images/p2.jpg" alt="Product">
                                                </a>
                                            </div>
                                            <div class="p-right">
                                                <p class="p-name">Donec Ac Tempus</p>
                                                <p class="product-price">$139.98</p>
                                                <p>Qty: 1</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="toal-cart">
                                    <span>Total</span>
                                    <span class="toal-price pull-right">$279.96</span>
                                </div>
                                <div class="cart-buttons">
                                    <a href="checkout.html" class="button-radius btn-check-out">Checkout<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./box header -->
            <!-- main header -->
            <div class="row">
                <div class="main-header">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo.png" alt="Logo" style="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 main-header-banner">
                            <div class="herader-banner">
                                <ul class="list-banner">
                                    <li><div class="banner1"><a href="#"><img src="images/banner1.png" alt="Banner"></a></div></li>
                                    <li><div class="banner1"><a href="#"><img src="images/banner2.png" alt="Banner"></a></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./main header -->
        </div>
        <!-- main menu-->
        <div class="main-menu">
            <div class="container">
                <div class="row">
                    <nav class="navbar" id="main-menu">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Home</a></li>

                                    <li class="">
                                        <a href="#" class="" data-toggle="dropdown">

                                            RX Refills
                                        </a>

                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle">

                                            Pharmacy
                                        </a>
                                        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 900px;">
                                            <li class="block-container col-sm-3 border">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container group_header">
                                                        <a href="#">Prescription Services</a>
                                                    </li>

                                                    <li class="link_container"><a href="#">New Prescription</a></li>
                                                    <li class="link_container"><a href="#">Reﬁll Prescription</a></li>
                                                    <li class="link_container"><a href="#">Transfer Prescription</a></li>

                                                    <li class="link_container  group_header"><a href="#">Drug Information</a></li>
                                                    <li class="link_container"><a href="#">Drug Interaction center</a></li>
                                                    <li class="link_container"><a href="#">Pill Identifier</a></li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-3 border">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container group_header">
                                                        <a href="#">Health Information</a>
                                                    </li>

                                                    <li class="link_container"><a href="#">WebMD</a></li>
                                                    <li class="link_container"><a href="#"> Merck </a></li>


                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-6 border">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container group_header">
                                                        <a href="#">View/Print prescription history </a>
                                                        </a>
                                                    </li>
                                                    <li class="link_container"><a href="#">Immunization </a></li>

                                                </ul>
                                            </li>

                                        </ul>




                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                            Forms
                                        </a>
                                        <ul class="dropdown-menu mega_dropdown container-fluid">
                                            <li class="block-container">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container"><a href="images/Hipaa-Consent.pdf" target="_blank">Hipaa Consent</a></li>
                                                    <li class="link_container"><a href="images/Hipaa-Release-Authorization.pdf" target="_blank"> Hipaa Release Authorization </a></li>
                                                    <li class="link_container"><a href="images/Immunization-Consent-Form.pdf" target="_blank"> Immunization Consent Form </a></li>
                                                    <li class="link_container"><a href="images/Npp-Fullpage-Hc-Provider.pdf" target="_blank"> Npp Fullpage Hc-Provider </a></li>
                                                    <li class="link_container"><a href="images/Registration-Form.pdf" target="_blank"> Registration Form </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="about.html"> About Us</a>
                                    </li>

                                    <li class="">
                                        <a href="faq.html">  Help / Faq</a>

                                    </li>
                                    <li class="">
                                        <a href="contact.html"> Contact us </a>

                                    </li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- ./main menu-->
    </header>
    <!-- ./header -->
    <div class="container">
        <div class="row">
            <div class="block block-breadcrumbs">
                <ul>
                    <li class="home">
                        <a href="#"><i class="fa fa-home"></i></a>
                        <span></span>
                    </li>
                    <li>About Us</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="block block-widget">
                        <div class="block-head">
                            <h5 class="widget-title">Infomation</h5>
                        </div>
                        <div class="block-inner">
                            <ul class="list-link">
                                <li><a href="aboutus.html">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-8 col-md-9">
                    <h1 class="page-title">About RX Outlet Inc</h1>
                    <div class="main-page">
                        <div class="page-content clearfix">
                            <img src="images/about-us.jpg" class="alignleft img-thumbnail" width="400px" alt="">

                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.</p>

                            <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>

                            <p>Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, <a href="#">malesuada at</a>, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>

                            <p>Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. </p>
                            <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>

                            <p>Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, <a href="#">malesuada at</a>, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer id="footer">
        <div class="footer-top">

        </div>

        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="row">


                        <div class="col-md-3 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link">
                                    <li class="head"><a href="#">Information</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Band of Trust</a></li>
                                    <li><a href="#">ShopClues History</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">In the Press</a></li>
                                    <li><a href="#">Awards New</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul>
                                    <li class="head"><a href="#">Contact Us</a></li>
                                    <li><a href="#">Customer Support</a></li>
                                    <li><a href="#">Merchant Support</a></li>
                                    <li><a href="#">Merchant Inquiries</a></li>
                                    <li><a href="#">Product Reviews</a></li>
                                    <li><a href="#">Brand Inquiries</a></li>
                                    <li><a href="#">Bulk Orders</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link">
                                    <li class="head"><a href="#">help</a></li>
                                    <li><a href="#">See all Help</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                                <ul>
                                    <li class="head"><a href="#">OTHER SERVICES</a></li>
                                    <li><a href="#">Market America Gear</a></li>
                                    <li><a href="#">Apply for Market</a></li>
                                    <li><a href="#">America Credit Card</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link flag">
                                    <li class="head"><a href="#" SHOPPING</a></li>
                                    <li><a href="#"><img src="images/flag1.png" alt="flang">Customer Support</a></li>
                                    <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="19041/"></script>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-social">
            <div class="container">
                <div class="row">
                    <div class="block-social">
                        <ul class="list-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                    <div class="block-payment">
                        <ul class="list-logo">
                            <li><a href="#"><img src="images/payment1.png" alt="Payment Logo"></a></li>
                            <li><a href="#"><img src="images/payment2.png" alt="Payment Logo"></a></li>
                            <li><a href="#"><img src="images/payment3.png" alt="Payment Logo"></a></li>
                            <li><a href="#"><img src="images/payment4.png" alt="Payment Logo"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="block-coppyright">
                        © 2017 RX OUTLET INC. All Rights Reserved.
                    </div>
                    <div class="block-shop-phone">
                        Shop by phone <strong>1-899-353-2268</strong>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ./footer -->
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <!-- COUNTDOWN -->
    <script type="text/javascript" src="js/jquery.plugin.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.js"></script>
    <!-- ./COUNTDOWN -->
    <script type="text/javascript" src="js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>