
@model string
@{
    ViewBag.Title = "Latest Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Thanks for Uploading. Prescription is received and following communication will happen over EMAIL..  </h3>
<br />
@ViewBag.LatestImage

@*<img src="@ViewBag.LatestImage" title="Latest Uploaded" />*@