
@model string
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Thanks for Filling Prescription. Your Prescription is received and following communication will happen over EMAIL..  </h3>
<br />
<a href="#" style="color:deepskyblue">My Prescriptions</a>
<br />
@ViewBag.LatestImage

@*<img src="@ViewBag.LatestImage" title="Latest Uploaded" />*@