

    <table class="cart_summary">
        <thead>
            <tr>
                <th class="cart_product">Title</th>
                <th>Description</th>
                <th>Image</th>
                <th class="action"><i class="fa fa-trash-o"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>


                <td class="cart_avail"><span class="label label-success">In stock</span></td>
                <td class="price"><span>61,19 €</span></td>
                <td class="cart_product">
                    <a href="#"><img class="img-responsive" src="/data/p1.jpg" alt="Product"></a>
                </td>

            </tr>
           
        </tbody>
     
    </table>
