
@{
    ViewBag.Title = "ProductList";
}


    <div class="container">
        <div class="row" >
            <div class="block block-breadcrumbs">
                <ul>
                    <li class="home">
                        <a href="#"><i class="fa fa-home"></i></a>
                        <span></span>
                    </li>
                    <li><a href="#">Allegra & Fexofenadine</a><span></span></li>
                    <li>Over-The-Counter</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="block block-sidebar">
                        <div class="block-head">
                            <h5 class="widget-title"> Over-The-Counter </h5>
                        </div>
                        <div class="block-inner">
                            <div class="block-list-category">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <a href="#"> OTC </a>
                                        <ul>
                                            <li><span></span><a href="#">Allergy & Sinus</a></li>
                                            <li><span></span><a href="#">Hypodermic Needles</a></li>
                                            <li><span></span><a href="#">Luer Adapters</a></li>
                                            <li><span></span><a href="#">Sharps Containers</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"> OTC </a>
                                        <ul style="display: none;">
                                            <li><span></span><a href="#"></a></li>
                                            <li><span></span><a href="#">Hypodermic Needles</a></li>
                                            <li><span></span><a href="#">Luer Adapters</a></li>
                                            <li><span></span><a Allergy & Sinushref="#">Sharps Containers</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block block-sidebar">
                        <div class="block-head">
                            <h5 class="widget-title">Over-The-Counter</h5>
                        </div>

                        <div class="block-inner" ng-controller="SupplierNameCntrl">
                            <div class="block-filter">
                                <div class="block-sub-title">Over-The-Counter</div>
                                <div class="block-filter-inner" style="overflow-y: scroll;height: 200px;">
                                    <ul class="check-box-list" >

                                        <li ng-repeat="x in SuppilerName.DrugList" style="font-size: 12px;">
                                            
                                            <input  type="checkbox" id="{{x.SupplierID}}" name="cc">
                                            <label for="{{x.SupplierID}}">
                                                <span class="button"></span>
                                               {{x.SupplierName}} <span class="count">({{x.DrugCount}})</span>
                                            </label>
                                        </li>




                                        @*<li>
                                            <input type="checkbox" id="c1" name="cc">
                                            <label for="c1">
                                                <span class="button"></span>
                                                Sharps Containers<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c2" name="cc">
                                            <label for="c2">
                                                <span class="button"></span>
                                                Hypodermic Needles<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c3" name="cc">
                                            <label for="c3">
                                                <span class="button"></span>
                                                Hypodermic Needles<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c4" name="cc">
                                            <label for="c4">
                                                <span class="button"></span>
                                                Allergy & Sinus<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c5" name="cc">
                                            <label for="c5">
                                                <span class="button"></span>
                                                Allergy & Sinus<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c6" name="cc">
                                            <label for="c6">
                                                <span class="button"></span>
                                                Diabetic Test Strips<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c7" name="cc">
                                            <label for="c7">
                                                <span class="button"></span>
                                                Diabetic Test Strips<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="c8" name="cc">
                                            <label for="c8">
                                                <span class="button"></span>
                                                BDiabetic Test Strips<span class="count">(10)</span>
                                            </label>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="block-filter">
                                <div class="block-sub-title">Price</div>
                                <div class="block-filter-inner">
                                    <div class="amount-range-price">Range: $50 - $350</div>
                                    <div data-label-reasult="Range:" data-min="0" data-max="500" data-unit="$" class="slider-range-price" data-value-min="50" data-value-max="350"></div>
                                </div>
                            </div>
                            <div class="block-filter">
                                <div class="block-sub-title">Color</div>
                                <div class="block-filter-inner">
                                    <ul class="check-box-list corlor">
                                        <li>
                                            <input type="checkbox" id="corlor1" name="cc">
                                            <label for="corlor1">
                                                <span class="button" style=" background:#4d6dbd;"></span>
                                                Blue<span class="count">(20)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="corlor2" name="cc">
                                            <label for="corlor2">
                                                <span class="button" style=" background:#2fbcda;"></span>
                                                Cyan<span class="count">(1)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="corlor3" name="cc">
                                            <label for="corlor3">
                                                <span class="button" style=" background:#ffe00c;"></span>
                                                Yellow  <span class="count">(31)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="corlor4" name="cc">
                                            <label for="corlor4">
                                                <span class="button" style=" background:#72b226;"></span>
                                                Green  <span class="count">(21)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="corlor5" name="cc">
                                            <label for="corlor5">
                                                <span class="button" style=" background:#fb5d5d;"></span>
                                                Red  <span class="count">(12)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-filter">
                                <div class="block-sub-title">Manufacturer</div>
                                <div class="block-filter-inner">
                                    <ul class="check-box-list">
                                        <li>
                                            <input type="checkbox" id="m1" name="cc">
                                            <label for="m1">
                                                <span class="button"></span>
                                                Diabetic Test Strips<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="m2" name="cc">
                                            <label for="m2">
                                                <span class="button"></span>
                                                Diabetic Test Strips <span class="count">(10)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-filter">
                                <div class="block-sub-title">Properties</div>
                                <div class="block-filter-inner">
                                    <ul class="check-box-list">
                                        <li>
                                            <input type="checkbox" id="p1" name="cc">
                                            <label for="p1">
                                                <span class="button"></span>
                                                MDiabetic Test Strips<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="p2" name="cc">
                                            <label for="p2">
                                                <span class="button"></span>
                                                Diabetic Test Strips <span class="count">(10)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-filter">
                                <div class="block-sub-title">AVAILABILITY</div>
                                <div class="block-filter-inner">
                                    <ul class="check-box-list">
                                        <li>
                                            <input type="checkbox" id="a1" name="cc">
                                            <label for="a1">
                                                <span class="button"></span>
                                                In stock<span class="count">(10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="a2" name="cc">
                                            <label for="a2">
                                                <span class="button"></span>
                                                Not available <span class="count">(10)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- block  top sellers -->
                    <!-- block  top sellers -->
                    <!-- block SPECIALS -->
                    <!-- ./block SPECIALS -->
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">

                    <h3 class="page-title">
                        <span>Allegra & Fexofenadine</span>
                        <a href="#" class="button-radius compare-link">Compare (1)<span class="icon"></span></a>
                    </h3>
                    <div class="sortPagiBar">
                        <ul class="display-product-option">
                            <li class="view-as-grid selected">
                                <a href="http://localhost:64404/Product/ProductList">   <span>grid</span></a>
                            </li>
                            <li class="view-as-list">
                                <a href="http://localhost:64404/Product/DisplayGridViewNew">   <span>list</span></a>
                            </li>
                        </ul>
                        <div class="sortPagiBar-inner" ng-controller="DisplayDrugInfo">
                            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>

                            @*<nav>
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">Next »</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>*@

                         @*  DROPDOWN for No of items Per Page top

                              <div class="show-product-item">
                                   <select class="">
                                           <option value="1">Show 6</option>
                                           <option value="1">Show 12</option>
                                   </select>
                              </div>*@

                            <div class="show-product-item">
                            Show <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option >3</option><option>5</option><option>10</option><option>20</option><option>30</option></select>
                                </div>
                                <div class="sort-product">
                                    <select>
                                        <option value="1">Postion</option>
                                        <option value="1">Product name</option>
                                    </select>
                                    <div class="icon"><i class="fa fa-sort-alpha-asc"></i></div>
                                </div>
                            </div>
                    </div>

                    <div class="category-products" ng-controller="DisplayDrugInfo" >

                        <ul class="products row" >
                              
                            <li ng-repeat="x in Drug.DrugList" class="product col-xs-12 col-sm-6 col-md-4">
                           
                            @*<li ng-repeat="x in Drug.DrugList.slice(((currentPage-1)*itemsPerPage), ((currentPage+1)*itemsPerPage))" class="product col-xs-12 col-sm-6 col-md-4">*@


  
                                   <div class="product-container">
                                    <div class="inner">
                                        <div class="product-left">
                                            <div class="product-thumb">
                                                <a class="product-img" href="#"><img ng-src="/DrugImages/{{x.DrugID}}.jpg" style="height:155px; width:250px" class="img-responsive" alt="Product"></a>
                                                <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name" style="width:229px; height:48px">
                                                <a href="#">{{x.DrugName}}</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">{{x.RegularPrice}}</span>
                                                <span class="product-price-old">{{x.RetailPrice}}</span>
                                            </div>

                                            <div class="product-button">
                                                <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                         
                            @*<li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product1.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product2.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product3.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product4.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product5.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product1.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product2.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product3.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product4.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product5.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product1.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product col-xs-12 col-sm-6 col-md-4">
                                    <div class="product-container">
                                        <div class="inner">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="#"><img src="images/product2.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="#">Fexofenadine HCL 180mg</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$139.98</span>
                                                    <span class="product-price-old">$169.00</span>
                                                </div>

                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>*@
                        </ul>
                    </div>
                    <div class="sortPagiBar">
                        <ul class="display-product-option">
                            <li class="view-as-grid selected">
                                <span>grid</span>
                            </li>
                            <li class="view-as-list">
                                <span>list</span>
                            </li>
                        </ul>
                        <div class="sortPagiBar-inner" ng-controller="DisplayDrugInfo">
                            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>


                            @*<nav>
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">Next »</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>*@
                         
                             
                            @*   DROPDOWN for No of items Per Page bottom

                           <div class="show-product-item">
                                     <select class="">
                                         <option value="1">Show 6</option>
                                         <option value="1">Show 12</option>
                                     </select>
                            </div>*@

                            <div class="show-product-item" ng-controller="DisplayDrugInfo">
                              <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>Show </option><option> 3</option><option> 5</option><option> 10</option><option> 20</option><option> 30</option></select>
                            </div>


                            <div class="sort-product">
                                <select>
                                    <option value="1">Postion</option>
                                    <option value="1">Product name</option>
                                </select>
                                <div class="icon"><i class="fa fa-sort-alpha-asc"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
