<div class="container">
    <div class="row">
        <!-- block  host deals -->
        <div class="block block-hot-deals">
            <div class="block-head">
                <div class="block-title">
                    <div class="block-icon">
                        <img src="/images/offers-icon.png" alt="store icon">
                    </div>
                    <div class="block-title-text text-sm">hot</div>
                    <div class="block-title-text text-lg">deals</div>
                </div>
                <div class="block-countdownt">
                    <span class="countdown-lastest" data-y="2016" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                </div>
            </div>
            <div class="block-inner">
                <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/img1.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                                <div class="product-status">
                                    <span class="new">New</span>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Vitamin Supplements</a>
                                </div>



                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/img2.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Vitamin Supplements</a>
                                </div>



                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/img3.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Vitamin Supplements</a>
                                </div>



                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/img4.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Vitamin Supplements</a>
                                </div>



                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-container">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/img1.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name">
                                    <a href="#">Vitamin Supplements</a>
                                </div>



                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./block hot deals -->
    </div>
    <!--Block banner -->
    <!-- Block banner -->
    <!-- block-popular-cat-->
    <!-- ./block-popular-cat-->
</div>
