<div class="container">
    <div class="row">


        <h3 class="title">
            <span class="text">Popular health product categories</span>

        </h3>



        <div class="category-products">
            <ul class="products row">

                <li class="product col-xs-12 col-sm-1 col-md-1">

                </li>

                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat1.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Diabetes Monitoring</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat2.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Diabetes Supplements</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat3.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Wellness And Nutrition</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat4.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Weight Management</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat5.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Medical Devices</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-1 col-md-1">

                </li>

            </ul>

            <ul class="products row">

                <li class="product col-xs-12 col-sm-1 col-md-1">

                </li>

                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat1.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Diabetes Monitoring</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat2.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Diabetes Supplements</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat3.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Wellness And Nutrition</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat4.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Weight Management</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-2 col-md-2">
                    <div class="product-container">
                        <div class="inner">
                            <div class="product-left">
                                <div class="product-thumb">
                                    <a class="product-img" href="#"><img src="/images/cat5.jpg" alt="Product"></a>
                                    <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
                                </div>
                            </div>
                            <div class="product-right">
                                <div class="product-name text-center">
                                    <a href="#">Medical Devices</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="product col-xs-12 col-sm-1 col-md-1">

                </li>

            </ul>

        </div>

    </div>
</div>
