<div class="container">
    <h3 class="text-center"> Security Questions</h3>
    <br />
    <br />
    <div class="col-md-3">
        <label for="inputusername">1. Date of Birth </label>
        <input class="form-control" placeholder="dob" type="datetime" id="inputusername" />

        <br />
        <br />


        <label for="inputusername"> 2. Place from where you got SSN </label>

        <select>
            <option value="volvo">--Select--</option>
            <option value="saab">Texas</option>
            <option value="mercedes">New York</option>
            <option value="audi">Los Angles</option>
        </select>




        <br />
        <br />

        <label for="inputusername">    3. Last digits of Phone Number.. </label>

        <FORM method="POST"
              onSubmit="return checkAnswer(this,'B');">

            <INPUT TYPE="RADIO" VALUE="A" NAME="cc">
            A.74*****128 <BR>

            <INPUT TYPE="RADIO" VALUE="B" NAME="cc">
            B. 09*****654<BR>

            <INPUT TYPE="RADIO" VALUE="C" NAME="cc">
            C. 81*****497<BR>

            <INPUT TYPE="RADIO" VALUE="C" NAME="cc">
            D.85*****395<BR>

            <INPUT TYPE="RADIO" VALUE="C" NAME="cc">
            E. None of the Above<BR>

            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </FORM>
    </div>
</div>

 