
<!DOCTYPE html>

@model IEnumerable<RxOutlet.Models.RxOutletMenuListRespone>

@{
    ViewBag.Title = "Menu1";
}




<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:64404/api/RxOutlet/GetCompleteMenu",

                success: function (data) {
                    alert(data);

                    var List = [];
              

                    for (i = 0; i < data.length; i++) {
                        List.push(data[i].MainMenuName)
                    }
                    $("#Prescription").autocomplete({
                        source: List,

                    });

                },
                error: function (msg) { alert("error"); alert(msg); }
            });
        });

    </script>




</head>
<body>

    <div class="container">
        <div class="row">
            <div class="">
                <div class="block block-tabs">
                    <div class="block-head">
                        <div class="block-title">
                            <div class="block-title-text text-lg"> Prescription Services </div>
                        </div>
                        <ul class="nav-tab">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="false"> New Prescription </a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"> Refill Prescription</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false"> Transfer Prescription</a></li>

                        </ul>
                    </div>
                    <div class="block-inner">
                        <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <div class="">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Order Your Medication</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">


                                                            Add medications to your shopping cart and checkout to complete your purchase.
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" id="Prescription" class="input-box-text" placeholder="">
                                                            <button class="block-button">Search now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Send Us Your Prescription</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">


                                                            Have your prescriber send us your Rx by e-prescription, fax: 1-888-870-2808 or phone: 800-748-7001.
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" id="Prescription" class="input-box-text" placeholder="">
                                                            <button class="block-button">Search now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Receive Your Medications</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">




                                                            We conveniently ship your medications to your home, according to your prescriber’s instructions.
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" id="Prescription" class="input-box-text" placeholder="">
                                                            <button class="block-button"> Search now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="tab-2" class="tab-panel">
                                <div class="">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Login to your Account</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">


                                                            Login to your account. <br />  <br />
                                                        </div>

                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" class="input-box-text" placeholder="">
                                                            <button class="block-button">Login To Refill</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Go to Active Prescriptions</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">


                                                            For the Rx you want refilled, click “Actions” then “Add to Cart”. Proceed to checkout to complete your purchase.
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" class="input-box-text" placeholder="">
                                                            <button class="block-button">Login To Refill</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Receive Your Medications</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">
                                                            We conveniently ship your medications to your home, according to your prescriber’s instructions.
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" class="input-box-text" placeholder="">
                                                            <button class="block-button">Login To Refill</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="tab-3" class="tab-panel">
                                <div class="">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">Order Your Medication</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">


                                                            Add medications to your shopping cart and checkout to complete your purchase. <br /> <br />
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" class="input-box-text" placeholder="Zip code, City, Country">
                                                            <button class="block-button">Search now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">	Select "Transfer" At Checkout</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">


                                                            In step 2 of Checkout, select ”transfer“ for any medication that needs to be transferred.   <br /> <br />
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" class="input-box-text" placeholder="">
                                                            <button class="block-button">Search now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="block footer-block-box">
                                                    <div class="block-head">
                                                        <div class="block-title">
                                                            <div class="block-icon">
                                                                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                                                            </div>

                                                            <div class="block-title-text text-lg">	Complete your Order</div>
                                                        </div>
                                                    </div>
                                                    <div class="block-inner">
                                                        <div class="block-info clearfix">




                                                            We’ll contact your pharmacy to transfer your prescription. Once verified, we will conveniently ship your order to your home.
                                                        </div>
                                                        <div class="block-input-box box-radius clearfix">
                                                            <input type="text" class="input-box-text" placeholder="">
                                                            <button class="block-button">Search now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>